.showAllBtn {
  margin-right : 10vw;
  margin-left  : 10vw;
  margin-bottom: 3rem;
  width        : -webkit-fill-available;
  padding      : 0;
}

.group {
  padding-left: 2rem;
}

@media screen and (max-width: 900px) {
  .divider {
    display: none;
  }

  .title {
    font-weight: 900;
  }

  .group {
    padding-inline: 5vw;
  }
}