.goTopBtn {
  position: fixed;
  bottom  : 4rem;
  right   : 4rem;
}

.aggregation {
  padding-block: 3rem 1.5rem;
  z-index      : 0;
  position     : relative;
}

.contentTable {
  width   : 20%;
  height  : min-content;
  position: sticky;
  top     : 3rem;
}

.feed {
  width: 80%;
}

.group {
  padding-left: 2rem;
}

@media screen and (max-width: 900px) {
  .groupByLabel {
    position      : sticky;
    left          : 50%;
    width         : fit-content;
    transform     : translateX(-50%);
    padding-bottom: 0.25rem;
  }

  .contentTable {
    display: none;
  }

  .feed {
    width: 100%;
  }

  .group {
    padding-inline: 5vw;
  }

  .divider {
    display: none;
  }

  .groupTitle {
    font-weight: 900;
  }

  .goTopBtn {
    bottom: 2rem;
    right : 1.5rem;
    width : fit-content;
  }

  .aggregation {
    padding-bottom: 4.5rem;
  }
}