.goTopBtn {
  position: fixed;
  bottom  : 4rem;
  right   : 4rem;
}

.aggregation {
  padding-block: 3rem 1.5rem;
}

.contentTable {
  width   : 20%;
  height  : min-content;
  position: sticky;
  top     : 3rem;
}

.feed {
  width: 80%;
}

.group {
  padding-left: 2rem;
}