//! [FSD] Декомпозировать → Уничтожить

.main {
  display        : flex;
  flex-direction : column;
  justify-content: flex-start;
  align-items    : center;
  min-height     : 100vh;
}

.filters {
  position        : relative;
  width           : 100%;
  background-color: gainsboro;
  padding         : 2.5rem 6rem;


  .input-filter {
    max-width: 10rem;
  }
}