.filters {
  position        : relative;
  width           : 100%;
  background-color: gainsboro;
  padding-block   : 1.5rem;
  max-height      : 20vh;
  z-index         : 1;
}

.dropDownFilters {
  margin-top: 1rem;
}